@media screen and (min-width: 75em) {
    .containerx, .container-bot {
        transform: translateY(-45px);
    }
}

@media screen and (max-width: 48em ) {

    .container-bot
    {
        flex-direction: column;
        align-items: center !important;
        transform: translate(0px, -125px);
        height: 389px !important;
    }
    .report-container
    {   margin-top: 30px;
        margin-bottom: 30px;
    }

    .containerx {
        flex-direction: column;
        align-items: center !important;
        height: 600px !important;
        transform: translateY(-80px);

    }
    
}

@media screen and (max-width: 30em) {
    .containerx button, .container-bot button {
        width: 80px;
        font-size: 10px;
        
    }

}
main {
    font-family: Arial, sans-serif;
    background-color: #f9fafb;
    color: #333;
}
html{
      height: 100%;
    }
main
{
    width: 100%;
    height: 100%;
    background:url(./ggg.jpg);
    overflow: hidden;
    overflow-y: scroll;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
main::-webkit-scrollbar
{
    width: 10px;
}
main::-webkit-scrollbar-thumb
{
    background-color: #8bc3e9;
    border-radius: 25px; 
    border: 2px solid #ffffff;
    cursor: pointer;
}
.text_top_title h2
{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #187cad;
    width: 100%;
    height: 20%;
    margin: 75px 0;
    
}
#tuvan
{
    height: 100%;
    overflow: hidden;
}
.containerx
{
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     height: 30%;
     align-items: end;
}
.Ezir-container
{
    border: 1px solid #fff;
    border-radius: 25px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 130px; 
    overflow: hidden;
    
}
.Ezir-container ul
{
    margin-left: 15px;
    margin-top: 15px;
}
.Ezir-container p
{
    font-size: 15px;
    font-weight: bold;
    color: #454848;
    line-height: 2.5;
    font-style: italic;
    
    
   
}
.Ezir-container span
{
    font-style: italic;
    color: #187cad;
}
.Ezir-container li
{
    list-style: none;
    font-size: 11px;
    color: #666;
}

.Ezir-container button a
{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.EzGsm-container p
{
    font-size: 15px;
    font-weight: bold;
    color: #454848;
    line-height: 2.5;
    font-style: italic;
    text-align: left;
}
.EzGsm-container span
{
    font-style: italic;
    color: #187cad;
}
.EzGsm-container
{
    border: 1px solid #fff;
    border-radius: 25px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 130px; 
    overflow: hidden;
    
}
.EzGsm-container ul
{
    margin-left: 15px;
    margin-top: 15px;
}
.EzGsm-container li{
    text-align: left;
    list-style: none;
    font-size: 11px;
    color: #666;
}

.EzGsm-container button a
{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.Ir-container
{
    border: 1px solid #fff;
    border-radius: 25px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 130px; 
    overflow: hidden;
    transition-duration: 0;
}
.Ir-container p
{
    color: #187cad;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.5;
    text-align: left;
}
.Ir-container li
{
    list-style: none;
    font-size: 11px;
    text-align: left;
    color: #666;
}
.Ir-container ul
{
    margin-left: 15px;
    margin-top: 15px;
}

.Ir-container button a
{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.container-bot
{
    display: flex;
    justify-content: space-evenly;
    height: 30%;
    align-items: end;
}
.report-container
{
    border: 1px solid #fff;
    border-radius: 25px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 130px; 
    overflow: hidden;
    transition-duration: 0;
}
.report-container p
{
    color: #187cad;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.5;
    text-align: left;
}
.report-container li
{
    font-size: 11px;
    line-height: 1;
    margin-left: 15px;
    text-align: left;
    color: #666;
}
.report-container ul
{
    margin-left: 15px;
    margin-top: 15px;
}
.report-container button
{
    margin:0 auto ;
    position: relative;
    transform: translate(60%, 1%);
    margin: 0 auto;
    position: relative;
    border: 1px solid #fff;
    width: 100px;
    height: 25px;
    background: rgb(30, 144, 238);
    border-radius: 20px;
} 
.report-container button a
{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.Charter-container
{
    border: 1px solid #fff;
    border-radius: 25px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 130px; 
    overflow: hidden;
    
}
.Charter-container p
{
    color: #187cad;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.5;
    text-align: left;
}
.Charter-container ul
{
    margin-left: 15px;
    margin-top: 15px;
}
.Charter-container li 
{
    list-style: none;
    line-height: 1.5;
    font-size: 12px;
    text-align: left;
    color: #666;
}
.Charter-container button
{
    margin: 0 auto;
    position: relative;
    transform: translate(70%, 35%);
    border: 1px solid #fff;
    width: 100px;
    height: 25px;
    background: rgb(30, 144, 238);
    border-radius: 20px;
 
}
.Charter-container a{
    text-decoration: none;
    color: #fff;

}
.containerx div, .container-bot div {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.details-button
{   
    transform: translate(70%, 0%);
    opacity: 0;
    transition: transform 0.9s ease;
}
.card
{
    position: relative;
    height: 130px;
    transition: height 0.3s ease, box-shadow 0.3s ease, outline 0.3s ease;
    overflow: hidden;
}
.card .bottom-fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.card:hover {
    outline: 1px solid #0b75f0;
    outline-offset: 6px;
    height: 155px;
    transition: height 0.8s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.card:hover .details-button, .card:hover .line-animation {
    transform: none;
    opacity: 1;
}
.containerx:hover button
{
    bottom: 10px;
    border: 1px solid #fff;
    width: 95px;
    height: 25px;
    background: rgb(30, 144, 238);
    border-radius: 30px;
    align-items: center;
}

.containerx button {
    position: absolute;
    bottom: 15px;
    left: 30%;
    transform: translateY(120%);
    background-color: #1e90ee;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    
   
}
.report-container:hover
{
    height: 165px;

}
.report-container:hover .li1
{
   margin-top: 15px;
   transition: 0.9s ease;
}
.container-bot:hover button
{
   left: 60px;
  transform: translatey(10px);
  top: 10px;
}
.Charter-container:hover button
{
    left: 75px;
    top:15px;
    
}
.card:hover .line-animation
{
    content: "";
    position: absolute;
    width: 27rem;
    height: 30rem;
    top: -4rem;
    left: 0px;
    z-index: -5;
    transition: 2s;
   background-image: url(./img/TuVanBack_edit_2.png);
   transform: translate(50px);
}

.report-container:hover .line-animation
{
    content: "";
    position: absolute;
    width: 20rem;
    height: 14rem;
    top: -3rem;
    left: 15px;
    z-index: -1;
    transition: 1.5s;
    background-image: url(./img/TuVanBack_edit_2.png);
    transform: translateX(20px);
 
}
.Charter-container:hover .line-animation
{
    content: "";
    position: absolute;
    width: 20rem;
    height: 14rem;
    top: -3rem;
    left: 15px;
    z-index: -1;
    transition: 0.5s;
    background-image: url(./img/TuVanBack_edit_2.png);
    transform: translateX(20px);
}
.Charter-container:hover li
{
    font-size: 11px;
}
.container-bot:hover button
{
    bottom: 10px;
    border: 1px solid #fff;
    width: 95px;
    height: 25px;
    background: rgb(30, 144, 238);
    border-radius: 30px;
    align-items: center;
    transform: translateY(50px);
}
/*-------------------------------------------*/

 
