@media screen and (max-width: 1200px) {
    .box-info {
        height: auto;
    }

    .container-foot {
        justify-content: center;
        text-align: center;
        margin-right: 209px;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        padding-right: 70px;
    }

    .box-info {
        width: 95%;
    }

    .content-z {
        max-height: 200px;
    }

    .container-foot {
        flex-direction: column;
        align-items: center;
    }

    .column {
        margin: 10px 0;
        width: 100%;
    }

    .line {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .box-info {
        width: 100%;
      
    }

    .content-z li p {
        font-size: 11px;
    }

    .column h2 {
        margin-left: -100px;

    }

    .contact-info span {
        font-size: 9px;
    }
}
    .content-z{
        margin: auto;
    }
    
.main-container
{
    
    width: 100%;
    margin-top: 100px;
    align-items: center;
    overflow: hidden;
}
.box-info
{   
    border: 1px solid #e3edf3;
    border-radius: 25px;
    width: 90%;
    align-items: center;
    text-align: center !important;
    height: 380px;
    margin-left: 50px;
    overflow: hidden;
    overflow-y: scroll;
   
}
.box-info::-webkit-scrollbar
{
    width: 3px;
    height: 10px;
    
}
.box-info::-webkit-scrollbar-thumb
{
    background: #c6def1;
    border-radius: 25px;
    
}
.box-info h3
{
    font-family: var(--font-family-bold);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #007DB8;
    line-height: 2.5;
}
.content-z{
    list-style: none;
    line-height: 1.7;
    width: 90%;
    
    max-height: 250px;
}
.content-z li p
{
    margin-bottom: 18px;
    font-size: 11.8px;
    color: #384555;
    text-align: justify;
}


.container-foot{
   
    display: flex;
    justify-content: space-between ;
    font-size: 18px;
    flex-wrap: wrap;
}

.column
{
    margin-left: 55px;
    margin-right: 80px;
}
.column h2 {
    color: #0073e6;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 3;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info #imghh {
    margin-right: 8px;
   font-size: 12px;
}

.contact-info span {
    font-size: 10px;
    color: #333;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;

}
.line
{
  border-bottom: 1px solid #c6def1;
  width: 90%;
  align-items: center;
  margin-top: 60px;
  margin-left: 55px;
}
