@media screen and (max-width: 1200px) {
    .mySwiper {
        width: 100%;
    }
    .big-img
    {
        margin-left: -30px;
    }
    .search-container
    {
        transform: translate(-65px, 5px);
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .big-img {
        margin-left: -85px;
    }

    .search-container {
        transform: translate(-90px, 22px);
    }
    .search-form
    {
        margin-top:50px ;
    }
    .content-omega
    {
        margin-top: 50px;
    }
    .omega-top p
    {
        font-size: 20px;
    }
    .omega-bottom li
    {
        font-size: 20px;
    }
    .menu ul {
        flex-direction: column;
        margin-left: 20px;
    }
    .search-container
        {
        margin-right: 20px
        }
    .search-box input {
        width: 100%;
    }

    .search-box > button {
        right: 30px;
    }
    
    .menu {
        margin-left: 40px;
    }
    .container
    {
       margin-top: 80px;
    }
    .search-box button
    {
        margin-top: 0px;
    }
}

@media screen and (max-width: 480px) {
    .big-img {
        grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    }

    .search-container h1 {
        font-size: 1.5rem;
    }

    .search-container {
        margin-left: 20px;
    }

    .search-box input {
        padding: 10px 40px;
        font-size: 16px;
        transform: translateY(50px);
    }
    .search-box::before 
    {
        margin-top: 50px;
    }
    .products-info
    {
        transform: translateY(49px);
    }
    .search-box > button {
        right: 20px;
    }

    .menu {
        margin-left: 20px;
    }

    .menu ul {
        margin-left: 10px;
    }

    .swiper-horizontal {
        height: 300px;
    }

    .button-next {
        right: 20px;
        left: 20px;
        display: none;
     
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header 
{
    display: flex;
    justify-content: space-between;
    background:#f5f7f8;
    position: fixed;
    width: 100%;
    height: 50px;  
    z-index: 9999;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center;
    overflow: hidden;
   
}

body {
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom, rgb(245 247 248), rgb(195 194 194 / 5%), rgb(255 255 255 / 10%), rgb(206 0 184 / 3%), rgb(245 247 248)), linear-gradient(to right, rgb(161 112 174 / 6%), rgb(126 190 202 / 10%), rgb(126 190 202 / 10%), transparent, rgb(46 215 230 / 10%)) ;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    padding: 0px 0px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
    width: 100%;
}

swiper-container {
    width: 100%;
    height: auto;
    

}

.mySwiper {
    overflow: initial;
    z-index: 10;
   
}
.swiper-horizontal
{
 background: red;
 height: 500px;
  
}
.big-img {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    text-align: center;
    font-size: 18px;
    background: linear-gradient(to bottom, rgb(245 247 248), rgb(195 194 194 / 5%), rgb(255 255 255 / 10%), rgb(206 0 184 / 3%), rgb(245 247 248)), linear-gradient(to right, rgb(161 112 174 / 6%), rgb(126 190 202 / 10%), rgb(126 190 202 / 10%), transparent, rgb(46 215 230 / 10%)) ;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    background-size: cover;
    width: 80%;
   
    transform: translate(140px, 0px);
}

.big-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

swiper-container {
    margin-left: auto;
    margin-right: auto;
}

swiper-container::part(button-next) {
    width: 250px;
    height: 25px;
    top: 40%;
    right: -30px;
 
}

swiper-container::part(button-prev) {
    
    width: 250px;
    height: 25px;
    top: 40%;
    left: -30px;
}

swiper-container::part(pagination) 
{
    
    text-align: center; 
    transform: translate3d(0px, 0px, 0px);
    z-index: 10;

}
.horizontalClass
{
    background: rebeccapurple;
}
.btn-next {
    position: absolute;
    top: 35%;
    right: 70px;
    display: none;
   
}
.btn-prev {
    position: absolute;
    top: 35%;
    left: 70px;
    display: none;
}
.slide-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flex-center{
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
    width: 100%;
   text-align: center;
   
    
}
#trangchu
{
    height: 500px;
}
.menu{
    text-align: center;
     width: 70%;
}
.logo
{
    width: 30%;
}

.logo img {
    height: 30px;
}

.content{
    margin: auto;
}

.menu ul {
    
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.menu li {
    margin-right: 20px;
    cursor: pointer;
    
}
.menu li > a
{
    color: #555;
    margin-right: 20px;
}
.search-container{
    margin-bottom: 5%;
    margin-left: 160px;
    text-align: left;
}
.search-container h1  {
    font-size: 2.5rem;
    font-size: 35px;
    color: #454848;
    font-style: italic;
    padding-top: 60px;
    line-height: 1.5;
    max-width: 100%;
    
}
.search-container span
{
    font-style: italic;
    color: #187cad;
}

.search-container p {
    font-size: 1rem;
    color: #666;
    font-weight: 70%;
    
}
.ch 
{
   margin-top: 12px;
}
.content-omega
{
    text-align: center;
    margin-top: 63px;
}
.omega-top
{
    font-size: 11px;
    color: #4f4f4f;
}
.omega-bottom
{
    padding: 20px;
}

.omega-bottom li 
{
    text-align: center;
    display: inline;
}
.omega-z
{
    padding: 4px 8px;
    font-size: 11px;
    color: #007DB8;
}
.search-form
{
    width: 100%;
    height: auto;
    
}
.search-box
{
        position: relative;
        width: 76%;
        margin:0 auto;
        justify-content: center;
       
        
}

.products-info 
{
    z-index: 1000;
    border: 2px solid #c1deeb ;
    max-height: 200px; 
    overflow-y: auto !important; 
    padding-right: 5px;
    position: absolute; 
    z-index: 1000; 
    width: 100%;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background: #fff;
    border-top: 1px dashed #c1deeb;
    margin-top: 2px;
    display: none;
    overscroll-behavior: contain;
}
.search-box::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 32px;
    background: #bae9ff;
    z-index: 1;
    top: 7px;
    left: 55px;
    display: flex;
}
.search-box input {
    width: 100%;
    outline: 1px solid #ffffff;
    outline-offset: 5px;
    border-width: 0px;
    color: #555;
    padding: 15px 60px;
    border-radius: 30px;
    border: 5px solid transparent;
    position: relative;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 10px 8px;
    background-image: url(./img/loupe-search-home.png);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02rem;
    font-style: normal;
    font-family: var(--font-family-light);
    height: 50px;
   
}
.search-box input:focus {
    border-radius: 25px 25px 0 0; 
    border-bottom: none; 
    outline: none;
    border-top: 2px solid #c1deeb ;
    border-left: 2px solid #c1deeb;
    border-right: 2px solid #c1deeb;
    height: 50px;
    transition: all 0.5s ease;
}
.search-box > button {
    font-size: 0.875rem;
    font-weight: normal;
    font-family: var(--font-family-all);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 35px;
    outline: 0;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    right: 12px;
    top: 50px;
    width: 80px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    transform: translateY(-120%);

    
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.swiper-pagination
{
    text-align: center;
    transition: opacity 0.3s;
    transform: translate3d(0px, 0px, 0px);

}
swiper-container
{
    width: 100%;
    height: 100%;
}

/*------------------*/

::-webkit-scrollbar 
{
    width: 5px; 
   
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
}
.products-info::-webkit-scrollbar-thumb:hover {
    background: #82a4ec; 
  }
.product
{
    display: flex;
    padding: 5px 5px;
    width: 100%;
    
}
.product:hover
{
    background: #eaf2f8;
}

.product > img
{
    width: 25px;
    height: 25px;
    border-radius: 19px;
    display: flex;
    border: 1px solid #deecf5;
    margin-left: 10px;
}

.infomation
{
    font-size: 10px;
    padding: 3px 20px;
   
}
.astock_CODE
{ 
   font-size: 12px;
   display: flex
   
}
.name
{
    
    color: #666;
}

.floor
{
    border: 1px solid rebeccapurple;
    border-radius: 25px;
    font-size: 6px;
    padding: 3px;
    margin-left: 5px;
   
}

.product > a
{
    text-decoration: none;
    color: #000;
    display: flex;
    width: 100%;
}
.highlight {
    
    color: rgb(102, 175, 243); 
    font-weight: bold;

}

